@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&family=Nanum+Myeongjo&display=swap");

:root {
  --primary-color: #3498db;
  --secondary-color: #bccc2e;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    33deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

.container {
  width: 400px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: black;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

.input-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 0px;
}

input {
  width: 17rem;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50px;
  flex: 1;
}

button {
  padding: 10px;
  background-color: var(--primary-color);
  position: absolute;
  right: 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: 300ms all;
}

button:hover {
  background-color: var(--secondary-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  animation: fadeIn 0.5s ease;
}

li:last-child {
  border-bottom: none;
}

span {
  flex: 1;
  white-space: nowrap;
  overflow-wrap: hidden;
  margin-right: 10px;
  text-overflow: ellipsis;
}

.completed span {
  text-decoration: line-through;
  color: #999;
}

.completed button {
  color: red;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(-10px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10);
  }
}
